<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Game :
<ul>
    <p th:each="game : ${allGames}">
        <a th:href="@{/game-info/(name=${game.name})}" th:text="*{game.name}"> Game List</a></p>
    ---------------------------------------------------------------------------------
</ul>

Collection version :
<ul>
    <p th:each="gameCollection : ${gameCollectionAll}">
        <a th:href="@{/game-info-collection/(id=${gameCollection.id})}" th:text="*{gameCollection.name}"> Game List</a></p>
    ---------------------------------------------------------------------------------
</ul>
</body>
</html>