<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/game-save}" method="post" th:object="${gameDto}">
    <label th:for="name">Game name</label>
    <input type="text" th:field="*{nameGame}">

    <select th:field="*{genreId}">
        <option th:each="genreGame : ${genres}"
                th:value="${genreGame.id}"
                th:text="${genreGame.name}">
        </option>
    </select>

    <select th:field="*{publisherId}">
    <option th:each="publisher : ${publisherList}"
            th:value="${publisher.id}"
            th:text="${publisher.name}">
    </option>
</select>

    <select th:field="*{developerId}">
    <option th:each="developers : ${developerList}"
            th:value="${developers.id}"
            th:text="${developers.name}">
    </option>
</select>
    <select th:field="*{platforms}">
        <option th:each="platforms : ${platformList}"
                th:value="${platforms.id}"
                th:text="${platforms.name}">
        </option>
    </select>
    <!--<p th:each="platforms : ${platformList}">-->
        <!--<input type="checkbox" th:field="*{publisherId}"-->
               <!--th:value="${platforms.id}">-->
        <!--<label th:text="${platforms.name}"></label>-->
    <!--</p>-->
    <button type="submit">Save</button>
</form>
</body>
</html>