<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/game-save}" method="post" th:object="${game}">
    <label th:for="name">Game name</label>
    <input type="text" th:field="#{game.name}">
    <!--<label th:for="releaseDay">Game Release Day</label>-->
    <!--<input type="date" th:field="*{releaseDay}">-->
    <select th:field="*{genre.id}">
        <option th:each="genreGame : ${genres}"
                th:value="${genreGame.id}"
                th:text="*{genre.name}">
        </option>
    </select>
    <select th:field="*{publisher.id}">
    <option th:each="publisherList : ${p}"
            th:value=""
            th:text="">
    </option>
</select>
    <select th:field="*{developer.id}">
    <option th:each="developerList : ${p}"
            th:text="">
    </option>
</select>
    <select th:field="${}">
        <option th:each="developerList : ${p}"
                th:value=""
                th:text="">
        </option>
    </select>
    <!--<label th:for="publisher">Publisher</label>-->
    <!--<input type="text" th:field="*{publisher}">-->
    <!--<label th:for="developer">Publisher</label>-->
    <!--<input type="text" th:field="*{developer}">-->
    <button type="submit">Save</button>
</form>
</body>
</html>