<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/game-update}" method="post" th:object="${updateGame}">
    <p th:text="*{name}"></p>

    <select th:field="*{genre.id}">
        <option th:each="genreGame : ${genres}"
                th:value="${genreGame.id}"
                th:text="${genreGame.name}">
        </option>
    </select>

    <select th:field="*{publisher.id}">
        <option th:each="publisher : ${publisherList}"
                th:value="${publisher.id}"
                th:text="${publisher.name}">
        </option>
    </select>

    <select th:field="*{developer.id}">
        <option th:each="developers : ${developerList}"
                th:value="${developers.id}"
                th:text="${developers.name}">
        </option>
    </select>
    <select th:field="*{platform}">
        <option th:each="platforms : ${platformList}"
                th:value="${platforms.id}"
                th:text="${platforms.name}">
        </option>
    </select>
    <!--<p th:each="platforms : ${platformList}">-->
    <!--<input type="checkbox" th:field="*{publisherId}"-->
    <!--th:value="${platforms.id}">-->
    <!--<label th:text="${platforms.name}"></label>-->
    <!--</p>-->
    <button type="submit">Save</button>
</body>
</html>