<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
------------------------------------------
<div>
    <b><h th:text="#{game.name}"></h></b>
<p th:text="*{game.name}">Game name</p>
------------------------------------------
</div>
<div>
<b><h th:text="#{game.genre}"></h></b>
<p th:text="*{game.genre.name}">Genre Game</p>
------------------------------------------
</div>
<div th:text="#{game.developer}">
<p th:text="*{game.developer.name}">Developer Name</p>
------------------------------------------
</div>
<div>
<h th:text="#{game.platform}"></h>
<p><ul th:each="platform : ${platformsList}"
    th:text="${platform.name}">
</ul></p>
------------------------------------------
</div>
<div>
<h th:text="#{game.publisher}"></h>
<p th:text="*{game.publisher.name}">Publisher</p>
------------------------------------------
</div>
<div>
------------------------------------------
</div>
</div>
</body>
</html>