<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/game-save}" method="post" th:object="${game}">
    <label th:for="${game.name}">Game name</label>
    <input type="text" th:text="${game.name}">

    <!--<select th:field="*{genre.id}">-->
        <!--<option th:each="genreGame : ${genres}"-->
                <!--th:value="*{genre}"-->
                <!--th:text="${genreGame.name}">-->
        <!--</option>-->
    <!--</select>-->

    <!--<select th:field="*{publisher.id}">-->
    <!--<option th:each="publisher : ${publisherList}"-->
            <!--th:value="*{publisher}"-->
            <!--th:text="${publisher.name}">-->
    <!--</option>-->
<!--</select>-->

    <!--<select th:field="*{developer.id}">-->
    <!--<option th:each="developers : ${developerList}"-->
            <!--th:value="*{developer}"-->
            <!--th:text="${developers.name}">-->
    <!--</option>-->
<!--</select>-->
    <!--<select th:field="${}">-->
        <!--<option th:each="developerList : ${p}"-->
                <!--th:value=""-->
                <!--th:text="">-->
        <!--</option>-->
    <!--</select>-->
    <!--<label th:for="publisher">Publisher</label>-->
    <!--<input type="text" th:field="*{publisher}">-->
    <!--<label th:for="developer">Publisher</label>-->
    <!--<input type="text" th:field="*{developer}">-->
    <button type="submit">Save</button>
</form>
</body>
</html>