<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Holli Game</title>
</head>
<body>
<a href="/all-developers">Developers List</a> | <a href="/findByNameGame">Find By Name Game</a> | <a href="/user-save">Registration</a> |
<a href="/developer">Find By ID Developers</a> | <a href="/forum-theme-list">List Theme</a> | <a href="/game-list">Game List</a> | <a href="/login">Login</a> | <a href="/exit">Exit</a> |
<div></div>

________________________________________________
<div><a href="/adminPage">Admin</a> </div>
<p></p>
<ui th:each="newsAll : ${newsList}">
    <li th:text="${newsAll.name}">News Name</li>
    <t th:text="${newsAll.text}">News Text</t>
    <p></p>
____________________________________________________
</ui>
</body>
</html>