<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <h1 th:text="${them.theme}"></h1>
<div>------------------------------------------------------</div>
<a href="/forum-add-comments">Add Comments</a>
<div>------------------------------------------------------</div>
<ul th:each="listComments : ${commentsList}">
       <t th:text="${listComments.user.nickName}"></t> :
    <t th:text="${listComments.name}"></t>
    <p></p>
    ------------------------------------------------
</ul>
</body>
</html>