<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/game_library</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="entity.Developer"/>
        <mapping class="entity.ForumTheme"/>
        <mapping class="entity.Game"/>
        <mapping class="entity.Genre"/>
        <mapping class="entity.News"/>
        <mapping class="entity.Platform"/>
        <mapping class="entity.Publisher"/>
        <mapping class="entity.reviews.ReviewGame"/>
        <mapping class="entity.SystemSetting"/>
        <mapping class="entity.User"/>
        <mapping class="entity.Role"/>
        <mapping class="entity.systemParts.Cpu"/>
        <mapping class="entity.systemParts.Ram"/>
        <mapping class="entity.systemParts.Hdd"/>
        <mapping class="entity.systemParts.VideoCard"/>
        <mapping class="entity.reviews.NewsComment"/>
        <mapping class="entity.reviews.ReviewGame"/>
        <mapping class="entity.reviews.ForumComments"/>

    </session-factory>
</hibernate-configuration>